<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="POST" method="/team">
     
     <input type="submit" id="Submit">
   </form>
 </body>
</html>


